@font-face {
	font-family: "GeometriaLight";
	src: url("../fonts/Geometria/Geometria-Light.otf");
}
@font-face {
	font-family: "GeometriaRegular";
	src: url("../fonts/Geometria/Geometria.otf");
}
@font-face {
	font-family: "GeometriaItalic";
	src: url("../fonts/Geometria/Geometria-Italic.otf");
}
@font-face {
	font-family: "GeometriaBold";
	src: url("../fonts/Geometria/Geometria-Bold.otf");
}
body {
	color: #404040;
	font-family: "GeometriaRegular";
}
h1 {
	font-size: 42px;
}
textarea, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	display: block;
	outline: none;
	resize: none;
}
button {
	margin: 0 auto;
	border-radius: 20px;
	background-color: rgb(209, 20, 32);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
	height: 40px;
	width: 156px;
	line-height: 40px;
	color: #fff;
	margin-top: 50px;
	text-align: center;
	text-decoration: underline;
	font-family: "GeometriaRegular";
	font-size: 14px;
}
button:hover {
	box-shadow: inset 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
	text-decoration: none;
}

.head-text {
	font-family: "GeometriaRegular";
	font-size: 42px;
	color: #404040;
	text-align: center;
}
.look {
	font-family: "GeometriaRegular";
	font-size: 14px;
	color: #de2424;
	text-decoration: underline;
}
.look:hover {
	text-decoration: none;
	color: #de2424;
}
.sold {
	height: 750px;
	position: relative;
}
.sold .bg {
	width: 100%;
	height: 750px;
	background: url(../images/bg.png) no-repeat top center, #fff;
	background-size: cover; 
	/*-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);*/
	position: fixed;
	z-index: -1;
	top:0;
  	left:0;
	
}
.sold-header {
	/*width: 100%;*/
	height: 200px;
	/*background: url(../images/bg.png) no-repeat top center, #fff;*/
	/*background-size: cover;*/
}
.sold-header .bg {
	background: url(../images/bg.png) no-repeat top center;
	background-size: cover;
	position: fixed;
	z-index: -1;
	top:0;
  	left:0;
  	height: 200px;
  	width: 100%;
}
.sold .container, .sold-header .container {
	padding-top: 35px;
}
.sold .row-1, .sold-header .row-1 {
	text-align: center;
}
.sold .nav, .sold-header .nav {
	border-top: 1px solid #fff;
	list-style: none;
	padding: 0;
}
.sold .nav li, .sold-header .nav li {
	float: left;
	margin-right: 20px;
	height: 45px;
	line-height: 45px;
}
.sold .nav li a, .sold-header .nav li a {
	font-size: 16px;
	font-family: "GeometriaRegular";
	color: #fff;
}
.sold .nav li a:hover , .sold-header .nav li a:hover {
	text-decoration: underline;
}
.sold .nav li:nth-child(5), .sold-header .nav li:nth-child(5) {
	float: right;
	margin-right: 0px;
}
.sold .nav li:nth-child(6), .sold-header .nav li:nth-child(6) {
	float: right;
}
.sold .text {
	font-size: 45px;
	font-family: "GeometriaLight";
	text-align: center;
	color: #fff;
	margin-top: 100px;
}
.sold .about-btn {
	height: 40px;
	background: #fff;
	border-radius: 20px;
	margin-top: 30px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
	transition: transform .2s ease-in-out;
}
.sold .about-btn:hover {
	transform: scale(1.05);
}
.sold .about-btn a {
	display: block;
	height: 100%;
	line-height: 40px;
	text-decoration: underline;
	font-family: "GeometriaRegular";
	color: #de2424;
	font-size: 14px;
	text-align: center;
}
.sold .about-btn a:hover {
	text-decoration: none;
}
.carts {
	height: 445px;
	background: transparent;
	margin-top: -285px;
	z-index: 2;
	position: relative;
}
.carts .bg-white {
	-webkit-clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 40%, 100% 0, 100% 100%, 0 100%);
	height: 345px;
	width: 100%;
	background: #fff;
	position: absolute;
	top: 100px;
	left: 0;
}
.carts .cart {
	border-radius: 7px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
	height: 350px;
	width: 75%;
	margin-top: 70px;
	text-align: center;
	transition: all .2s ease-in-out;
	margin-left: 12.5%;
	position: relative;
}
.carts .cart > a {
	display: block;
	height: 100%;
}
.carts .cart:hover {
	transform: scale(1.05);
}
.carts .cart-img {
	height: 140px;
	text-align: center;
	padding: 0;
	width: 100%;
}
.carts .cart-img img {
	margin-top: 20px;
	width: 40%;
}
.carts .cart-head {
	font-family: "GeometriaRegular";
	font-size: 24px;
	color: #de2424;
}
.carts .cart-text {
	font-family: "GeometriaRegular";
	font-size: 14px;
	color: #000;
	margin-top: 10px;
}
/*.carts .cart-details {
	margin-top: 10px;
}*/
.carts .cart-details {
	margin-top: 10px;
	font-family: "GeometriaRegular";
	font-size: 14px;
	color: #de2424;
	text-decoration: underline;
}
.carts .cart:hover .cart-details{
	text-decoration: none;
}
.projects {
	height: 670px;
	padding-top: 70px;
	background: #fff;
}
.projects .container {
	position: relative;
	height: 100%;
	padding-left: 0;
	padding-right: 0; 
}

#wrapper {
	width: 970px;
	height: 450px;
	margin: 0 auto;
	position: absolute;
	top: 11%;
}
#carousel-left,
#carousel-right {
	width: 485px;
	height: 295.5px;
	overflow: hidden;
	position: absolute;
	top: 16%;
	z-index: 1;
}
#carousel-left {
	left: 0;
}
#carousel-right {
	right: 0;
}
#carousel-left:after,  #carousel-right:after {
    content: '';
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
#carousel-center {
	width: 640px;
	height: 390px;
	border-radius: 7px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
	overflow: hidden;
	position: absolute;
	top: 5%;
	left: 17.5%;
	z-index: 2;
}
#carousel-center .project {
	width: 640px;
	height: 390px;
}
.project {
	width: 485px; 
	height: 295.5px;
}
.project1 {
	background: #fff;
	float: left;
}
.project2 {
	background: red;
	float: left;
}
.project3{
	background: green;
	float: left;
}
.project .carousel-img {
	float: left;
	width: 49%;
	height: 100%;
}
.project .project-left {
	float: left;
	width: 51%;
	padding: 5%;
}
.project .title {
	font-family: "GeometriaRegular";
	font-size: 15px;
	color: #404040;
	margin-top: 5%;
}
.project .value {
	font-family: "GeometriaBold";
	font-size: 15px;
	color: #404040;
	margin-top: -1%;
}
.project-left .details {
	width: 130px;
	height: 30px;
	border: 1px solid #de2424;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 130px;
}
.project-left .details a {
	display: block;
	height: 100%;
	line-height: 30px;
	text-align: center;
	text-decoration: underline;
	font-size: 15px;
	font-family: "GeometriaRegular";
	color: #de2424;
}
.project-left .details a:hover {
	text-decoration: none;
}

.caroufredsel_wrapper {
	box-shadow:  0px 4px 15px 0px rgba(0, 0, 0, 0.45);
	border-radius: 7px;
}
#prev,
#next {
	position: absolute;
	top: 42%;
	z-index: 10;
	display: block;
	height: 62px;
	width: 35px;
	box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.45);
	border-radius: 3px;
}
#prev {
	left: 152.5px;
}
#next {
	right: 142.5px;
}
.projects .link {
	height: 125px;
	line-height: 125px;
	text-align: center;
	margin-top: 405px;
}

.news {
	background: #f7f8fa;
}
.news .container {
	padding-top: 50px;
}
.news .col-md-4 {
	position: relative;
}
.news .cart-news {
	padding-top: 30px;
	color: #404040;
	width: 260px;
	margin: 0 auto;
}
.news .margin {
	margin-top: 40px;
}
.news .cart-news-img {
	border-radius: 7px;
	background-color: rgb(56, 62, 71);
	width: 260px;
	height: 150px;
}
.news .cart-news:hover .cart-news-img {
	box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.45);
}
.cart-news .date {
	font-family: "GeometriaItalic";
	font-size: 12px;
	margin-top: 8px;
}
.news .cart-news:hover .cart-news-head {
	color: #de2424;
}
.cart-news-head {
	font-family: "GeometriaRegular";
	font-size: 24px;
	margin-top: 10px;
}
.cart-news-text {
	font-family: "GeometriaRegular";
	font-size: 14px;
	margin-top: 10px;
}
.news .link {
	height: 125px;
	line-height: 125px;
	text-align: center;
}
.footer {
	width: 100%;
	height: 160px;
	background: #383e47;
	padding-top: 40px;
}
.footer .container {
	position: relative;
} 
.footer-line {
	height: 1px;
	background-color: rgb(196, 197, 200);
	opacity: 0.2;
	margin-top: 40px;
	margin-bottom: 14px;
}
.footer .divider {
	float: left;
	height: 11px;
	width: 2px;
	background: #7e8288;
	margin: 2px 15px 0 15px;
}
.footer ul {
	list-style: none;
	text-transform: uppercase;
}
.footer li {
	float: left;
	padding: 0 21px;
	font-family: "GeometriaBold";
	font-size: 13.25px;
	color: #c4c5c8;
}
.footer li > a {
	color: #c4c5c8;
	text-decoration: none;
}
.footer .ul2 li {
	font-family: "GeometriaRegular";
	color: #7e8288;
}
.footer .logo-wr {
	text-align: center;
}
.footer img {
	width: 68px;
}


/*====About page====*/
.who-we-are {
	height: 545px;
	padding-top: 85px;
}
.who-we-are .container {
	height: 100%;
	position: relative;
}
.who-we-are .main-head {
	font-family: "GeometriaRegular";
	font-size: 42px;
	color: #404040;
	line-height: 50px;
	text-align: center;
}
.who-we-are .line {
	height: 2px;
	width: 150px;
	background: #de2424;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.who-we-are .info {
	width: 545px;
	text-align: center;
	font-family: "GeometriaRegular";
	font-size: 16px;
	color: #5a5c5f;
	margin: 0 auto;
}
.arrow {
	position: absolute;
	bottom: 70px;
	left: 0;
	right: 0;
	margin: auto;
	width: 38px;
	height: 27px;
	background: url(../images/arrow-down.png) no-repeat center;
}
.arrow a {
	display: block;
	height: 100%;
}
.slide-block {
	height: 750px;
}
.slide-block1 {
	height: 660px;
}
.slide-block .container, .slide-block1 .container {
	position: relative;
	height: 100%;
}
.slide-block .bg-image, .slide-block1 .bg-image{
	position: absolute;
}
.slide-block .info ,.slide-block1 .info {
	position: absolute;
	width: 500px;
	top: 24%;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.slide-block .head, .slide-block1 .head {
	font-size: 68px;
	font-family: "GeometriaRegular";
	color: #eb202d;
	line-height: 70px;
}
.slide-block .text, .slide-block1 .text  {
	margin-top: 40px;
	font-size: 26px;
	font-family: "GeometriaRegular";
	color: #000;
}
#system.slide-block {
	height: 800px;
}
#system .info {
	text-align: center;
	width: 601px;
	top: 10%;
}
.slide-block .head2, .slide-block1 .head2  {
	font-size: 42px;
	font-family: "GeometriaRegular";
	color: #eb202d;
	line-height: 45px;
	text-align: center;
	margin-bottom: 20px;
}
.slide-block .text2, .slide-block1 .text2 {
	font-size: 24px;
	font-family: "GeometriaRegular";
	color: #404040;
	text-align: center;
}
#our-team .container {
	padding: 0;
}
#our-team .info1 {
	width: 100%;
	text-align: center;
	margin-top: 80px;
	position: relative;
}
#our-team .col-md-4 {
	position: relative;
}
#our-team .row {
	margin-top: 40px;
	position: relative;
}
#our-team .cart {
	border-radius: 7px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
	width: 260px;
	height: 275px;
	margin: 0 auto;
	padding-top: 20px;
}
#our-team  .cart-head {
	font-family: "GeometriaRegular";
	font-size: 24px;
	color: #eb202d;
	margin-left: 23px;
}
#our-team  .cart-list li {
	font-family: "GeometriaRegular";
	font-size: 14px;
	color: #404040;
	margin-bottom: 10px;
}

#our-team .button {
	margin: 0 auto;
	border-radius: 20px;
	background-color: rgb(209, 20, 32);
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
	height: 40px;
	width: 156px;
	margin-top: 50px;
}
#our-team .button a {
	display: block;
	height: 100%;
	line-height: 40px;
	color: #fff;
	text-align: center;
	text-decoration: underline;
	font-family: "GeometriaRegular";
	font-size: 14px;
}
#our-team .button:hover {
	box-shadow: inset 0px 4px 15px 0px rgba(0, 0, 0, 0.45);
}
#our-team .button:hover a {
	text-decoration: none;
}
#our-team .link {
	height: 25px;
	line-height: 25px;
	text-align: center;
}
/*=====Prorjects page=====*/
.content {
	background: #fff;
}
.content .container {
	height: 100%;
	padding-top: 60px;
}
.content .head-text {
	margin-bottom: 70px;
}
.year-block {

}
.year-block .year {
	font-family: "GeometriaRegular";
	font-size: 42px;
	color: #404040;
	float: left;
	margin-left: 10px;
	margin-top: -22px;
}
.year-block.year-block2 .year {
	margin-top: -7px;
}
.year-block .picture {
	float: left;
}
.year-block .circle {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #eb202d;
}
.year-block .line {
	width: 2px;
	height: 30px;
	background: #eb202d;
	margin-left: 7px; 
}
.year-block .line2 {
	width: 2px;
	height: 30px;
	background: #eb202d;
	margin-left: 7px;
	margin-top: -15px; 
}
.gk {
	width: 100%;
	border-left: 2px solid #eb202d;
	padding-left: 20px;
	padding-top: 20px;
	margin-left: 7px;
	padding-bottom: 70px;
}
.gk:last-child {
	border-left: 2px solid transparent;
}
.gk-head {
	font-family: "GeometriaBold";
	font-size: 32px;
	color: #eb202d;
}
.gk .wr {
	margin-top: 30px; 
}
.gk .value {
    font-family: "GeometriaBold";
    font-size: 15px;
    color: #404040;
}
.gk .title, .gk .top-info {
    font-family: "GeometriaRegular";
    font-size: 15px;
    color: #404040;
}
.gk div.title {
	margin-bottom: 20px;
	line-height: 20px;
}
.gk .image {
	width: 495px;
	height: 360px;
	float: left;
	border-radius: 7px;
	position: relative;
}
.gk .image .overlap {
	width: 495px;
	height: 360px;
	line-height: 360px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.2);
	display: none;
}
.gk .image:hover .overlap {
	display: block;
}
#clean-sky .image {
	background: url(../images/clean-sky.jpg) no-repeat center;
}
#sun-city .image {
	background: url(../images/sun-city.jpg) no-repeat center;
}
#magellan .image {
	background: url(../images/magellan.jpg) no-repeat center;
}
#start .image {
	background: url(../images/start.jpg) no-repeat center;
}
.gk .info {
	float: left;
	width: 340px;
	margin-left: 30px;
}
.gk .line {
	width: 2px;
	height: 150px;
	background: #eb202d; 
	float: left;
	margin-left: -22px;
	margin-top: -20px;
}
/*=====News page=====*/
.news.news-page {
	background: #fff;
}
/*======Info page=======*/
.content-info-page, .content-list-page {
	font-family: "GeometriaRegular";
	font-size: 16px;
	color: #404040;
	padding-top: 40px;
	padding-bottom: 20px;
	background: #fff;
}
.content-info-page a, .content-list-page a {
	color: #eb202d;
	text-decoration: underline;
}
.content-info-page a:hover, .content-list-page a:hover {
	text-decoration: none;
}
.content-info-page .container, .content-list-page .container {
	position: relative;
}
.content-info-page p {
	margin-bottom: 20px;
}
.content-info-page ul {
	margin-bottom: 20px;
}
.content-info-page h1, .content-list-page h1 {
	font-size: 42px;
}
.content-info-page h2 {
	font-size: 24px;
	margin-bottom: 30px;
}
.content-info-page img {
	width: 560px;
	height: 300px;
	border-radius: 7px;
	overflow: hidden;
	margin-bottom: 20px;
}
.content-info-page .links {
	text-align: center;
	width: 310px;
	height: 20px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
}
.content-info-page .links a {
	padding: 0 10px;
	font-size: 14px;
	float: left;
	border-left: 1px solid #eb202d;
	text-align: center;
}
.content-info-page .links a:first-child {
	border: none;
}
.content-info-page .link, .content-list-page .link {
	text-align: center;
	height: 20px;
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 60px;
}
.content-info-page .link a, .content-list-page .link a {
	font-size: 14px;
	text-align: center;
}
.content-list-page {
	height: 780px;
}
.content-list-page .container {
	height: 100%;
	position: relative;
}
.content-list-page ul {
	font-size: 24px;
}
.content-list-page .bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.content-list-page .input {
	float: left;
	display: block;
}
h2 {
	margin-top: 25px;
	margin-bottom: 20px;
}
.contacts .inputs {
	width: 100%;
}
.contacts input {
	float: left;
	border-bottom: 1px solid #404040;
	/*height: 40px;
	line-height: 40px;*/
	padding: 0 0 3px 10px;
}
.contacts .inputs input:first-child {
	width: 295px;
	margin-right: 60px;
}
.contacts .inputs input:last-child {
	width: 453px;
}
.contacts textarea {
	margin-top: 30px;
	padding: 10px;
	width: 100%;
	height: 225px;
	border: 1px solid #404040;
}


















